<footer>
    <section>
        <h3 class="fa-solid fa-credit-card"></h3>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con ******, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <h3 class="fa-solid fa-gift"></h3>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en ****** tenés envíos gratis en miles de
            productos. Es un beneficio de ****** Puntos.</p>
    </section>
    <section>
        <h3 class="fa-solid fa-user-shield"></h3>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En ******, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
    <section id="copyright">
        <p>Copyright © 1999-2020 ****** S.R.L.</p>
    </section>
</footer>