<header>
    <form action=“#“ method=“get” id="barra-de-busqueda">
        <input type=“search” name=“q“ id=“query” placeholder="Buscar productos, marcas y más">
        <button type=“submit”><i class="fa-solid fa-search"></i></button>
    </form>
    <div id="navbar">
        <nav id="site-navbar">
            <a href="#" title="Ofertas">Ofertas</a>
            <a href="#" title="Ayuda">Ayuda</a>
        </nav>
        <nav id="log-in-navbar">
                <a href="/register" title="Creá tu cuenta">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a>
                <a href="/login" title="Ingresá">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a>
                <a href="/cart" title="Mis compras">Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
        </nav>
        <nav id="burger-menu">
            <a class="fas fa-bars" href="" target="_blank"></a>
        </nav>
    </div>
    <picture id="imagen-banner"><img src="../assets/banner.jpg" alt="Un banner"></img></picture>
</header>