<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../css/cart.css">
    <title>Cart</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <H1>El Carrito</H1>
    <h3>Re fachero re facherito</h3>
    <%- include('../partials/footer.ejs') %>
</body>
</html>